html,
body {
  padding: 0;
  margin: 0;
  font-family: Lora, Helvetica, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-2xl;
    @apply font-extrabold;
    @apply tracking-wide;
  }
  h2 {
    @apply text-xl;
    @apply font-extrabold;
  }
  h3 {
    @apply text-lg;
    @apply font-bold;
  }
  h4 {
    @apply text-base;
    @apply font-bold;
  }
  p {
    @apply text-sm;
  }
}
@media only screen and (max-width: 480) {
  @layer base {
    p,
    small {
      @apply text-xs;
    }
  }
}
