html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, Helvetica, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-2xl;
    @apply font-extrabold;
    @apply tracking-wide;
  }
  h2 {
    @apply text-xl;
    @apply font-extrabold;
  }
  h3 {
    @apply text-lg;
    @apply font-bold;
  }
  h4 {
    @apply text-base;
    @apply font-bold;
  }
  p {
    @apply text-lg;
  }
}

button {
  @apply bg-primary;
  @apply text-tertiary;
  padding: 10px 15px;
  margin: 5px 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
button:hover {
  @apply shadow-lg;
}

@media only screen and (max-width: 480) {
  @layer base {
    p {
      @apply text-base;
    }
  }
}
